html {
    background: url(images/bgimage.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-sizing: border-box;
  }
*{

        margin: 0px;
        padding: 0px;
        border: none;
        box-sizing: border-box;
        color: #FFF;

}
body{
    padding: 1.5vh 18%;
}
#main{
    border: 1px solid red;

}
  h1{
      font-family: Aladin, sans-serif;
      font-size: 3rem;
      text-align: center;
  }
     /** NOTE: 'height=xyz%' works only when parent has explicit height. */
  .master{
      width: 100%;
      height:100%;
      padding: 2%;
      background-color:cadetblue;
      display: table;                   /* display: table makes parent div resize a/c to child element sizes. Plus, allows us to use height%  */
  }                                     /*                 even when parent is not explicit height */
  .gametiles{  /** container containing all tiles*/
      background-color: chocolate;
      float: left;
      width: 80%;
      height: 100%;

  }
  .tile{      /** individual tile */
    float:left;
      background-color: darkkhaki;
      width: 20%;
      /* height: 20%; */
      padding-bottom: 20%;        /* as height:20% will make tile's height = 20% height of parent. i.e. will not be a square*/
      border: 1px solid black;  /*    padding-bottom 20% is 20 perc. of parent width. so it will make it a square */
      display: table;
      position: relative;

  }

.content{
  padding: 8%;
  background-color: gray;
  position: absolute;
  width: 100%;
  height: 100%;

}
.img-cover{
  background-color: red;
padding: 2%;
width: 100%;
height: 100%;
}
  .buttonpanel{   /** right side area for buttons */
    display: table;
      float: right;
      background-color: rgb(35, 190, 15);
      width: 20%;
      height: 100%;
  }
