html {
  background: url(images/bgimage.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-sizing: border-box;
}

* {
  margin: 0px;
  padding: 0px;
  border: none;
  box-sizing: border-box;
  color: #FFF;
}

body {
  padding: 1.5vh 18%;
}


h1 {
  font-family: Aladin, sans-serif;
  font-size: 3rem;
  text-align: center;
}

/** NOTE: 'height=xyz%' works only when parent has explicit height. */
.master {
  width: 100%;
  height: 100%;
  padding: 2%;
  border-radius: 5px;
/**  background-color: cadetblue;**/
  display: table;
  background:rgba(255,255,255,0.3);
  backdrop-filter: blur(13px);
  box-shadow: 0 0 20px -2px black;
  /* display: table makes parent div resize a/c to child element sizes. Plus, allows us to use height%  */
}

/*                 even when parent is not explicit height */
.gametiles {
  /** container containing all tiles*/
/**  background-color: chocolate;*/
  float: left;
  width: 80%;
  height: 100%;
}

.tile {
  /** individual tile */
  float: left;
/**  background-color: darkkhaki;*/
  width: 20%;
  /* height: 20%; */
  padding-bottom: 20%;
  /* as height:20% will make tile's height = 20% height of parent. i.e. will not be a square*/
  /* border: 1px solid black; */
  /*    padding-bottom 20% is 20 perc. of parent width. so it will make it a square */
  display: table;
  position: relative;
}

.content {
  padding: 8%;
/**  background-color: gray;**/
  position: absolute;
  width: 100%;
  height: 100%;
}

.img-cover {
  /* background-color: red; */
  padding: 2%;
  width: 100%;
  height: 100%;
}

.buttonpanel {
  /** right side area for buttons */
  display: table;
  float: right;
  /**background-color: rgb(35, 190, 15);**/
  width: 20%;
  height: 100%;
}

/******           BUTTON SIDE PANEL                *********/
.button {
  position: relative;
  height: 4vw;
  padding-left: 0.5rem;
  margin-bottom: 2vw;
  margin-left: 1vw;
  border-radius: 2px;
  background-color: brown;
  line-height: 4vw;
  text-align: left;
  font-size: 2.2vw;
  box-shadow: 2px 4px 8px #464545;
}
.button:hover{
  box-shadow:none;
  cursor: pointer;
}
.text{
  box-shadow: none;
  background: none;
  color: #70f754;
  text-align: center;
  -webkit-text-stroke-width: 0.25px;
  -webkit-text-stroke-color: black;
}
#time{
  color: #ff5f82;
}
.ico{
  width:1.8vw;
  position: absolute;
  right: 0;             /* to center align icon vertically*/
  top: 50%;
  transform: translate(-0.5rem,-50%);
}
#reveal, .match-it{
  background: linear-gradient(0deg, rgba(250,53,235,1) 0%, rgba(255,122,238,1) 49%, rgba(252,69,242,1) 100%);;
}
.reset{
  background: linear-gradient(0deg, rgba(250,52,12,1) 0%, rgba(254,114,114,1) 49%, rgba(253,22,1,1) 100%);
}
.start{
  background: rgb(3,218,24);
  background: linear-gradient(0deg, rgba(3,218,24,1) 0%, rgba(80,253,129,1) 49%, rgba(4,211,31,1) 100%);

}



                                         /**** testing in css before js *****/
.img-cover{
  position: relative;
  border-radius: 5px;
  background-image: url("images/cover2.jpg" );
  background-size: cover;
  /* background: transparent; */
  transform-style: preserve-3d;
 }
 .img{
   border-radius: 5px;
  padding: 2%;
  width: 100%;
  height: 100%;
  background-size: cover;
  transform: translateZ(-10px)
 }

 .flipped{
   background: transparent;

 }

 .deactivated{
 
  background: rgb(153, 153, 153) !important;
 
  box-shadow: none;
 }

 .deleted{
   display: none;
 }


 #reveal{
   margin-top: 6vw; /* brute force margin to fix alignment */
 }